<!DOCTYPE html>
<html class="no-js" lang="fr">

<head>
  <title>Administration de la ferme</title>

  <meta charset="utf-8">
  <meta name="description" content="Ferme de Wikis">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link
    rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
    crossorigin="anonymous"
  >
  {% for css in list_css %}
  <link href="{{ css }}" rel="stylesheet" />
  {% endfor %}
</head>

<body>
  {% include 'twig/navbar.twig' %}

  {% include 'twig/alerts.twig' %}


  <div id="wikis" class="container">
    <h2>Liste des wikis
      <a  class="save btn btn-group-sm" title="Exporte la liste des wikis (CSV)" href="?view=exportMailing">
        <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
      </a>
    </h2>
    <table id="listeWikis"
      class="wiki-list table table-hover table-condensed tablesorter">
      <thead>
        <tr>
          <th>Nom</th>
          <th>Créé par</th>
          <th>Créé le</th>
          <th>Dernière modification</th>
          <th>Disque</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <!-- Liste des Wikis -->
        {% for wiki in list_wikis %}
        <tr>
          <td>{{ wiki['name'] }}</td>
          <td>
            <a href="mailto:{{ wiki['mail'] }}">{{ wiki['mail'] }}</a>
          </td>
          <td>
            {{ wiki['date']|date("Y-m-d H:i", timezone="Europe/Paris") }}
          </td>
          <td>
            {{ wiki['LasPageModificationDateTime']|date('Y-m-d H:i:s') }}
          </td>
          <td>
            {{ (wiki['FilesDiskUsage'] / 1024 / 1024)|round(2) }} Mo
          </td>
          <td>
            <div class="btn-group btn-group-xs pull-right" role="group">
              <a  class="save btn btn-default"
                  title="Ouvre le wiki"
                  href="{{ wiki['url'] }}">
                <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
              </a>
              <a  class="save btn btn-success"
                  title="Archive le wiki"
                  href="?view=admin&action=archive&name={{ wiki['name'] }}">
                <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
              </a>
              <a  class="upgrade btn btn-primary"
                  title="Mets à jour le wiki vers la dernière version (fichiers uniquement)"
                  href="?view=admin&action=upgrade&name={{ wiki['name'] }}">
                <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
              </a>
              <a  class="save btn btn-warning"
                  title="Mets à jour la configuration avec les paramètres de la ferme (url et base de données)"
                  href="?view=admin&action=updateConfiguration&name={{ wiki['name'] }}">
                <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
              </a>
              <a  class="delete btn btn-danger"
                  title="Supprime le wiki"
                  onclick="return(confirm('Etes-vous sûr de vouloir supprimer le wiki : {{ wiki['name'] }} ?'));"
                  href="?view=admin&action=delete&name={{ wiki['name'] }}">
                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
              </a>
            </div>
          </td>
        </tr>
        {% endfor %}
        <!--Fin liste des wikis-->
      </tbody>
    </table>
  </div>

  <div id="archives" class="container">
    <h2>Liste des archives</h2>
    <table id="listeArchives"
      class="wiki-list table table-hover table-condensed tablesorter">
      <thead>
        <tr>
          <th>Nom</th>
          <th>Archivé le</th>
          <th>Poid</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <!--Listes des archives-->
        {% for archive in list_archives %}
        <tr>
          <td>{{ archive['name'] }}</td>
          <td>{{ archive['date']|date("Y-m-d H:i", timezone="Europe/Paris") }}</td>
          <td>{{ (archive['size'] / 1024 / 1024)|round(2) }} Mo</td>
          <td>
            <div class="btn-group btn-group-xs pull-right">
              <a class="save btn btn-default"
                  href="{{ archive['url'] }}">
                <span class="glyphicon glyphicon-download" aria-hidden="true"></span>
              </a>
              <a class="save btn btn-group-sm btn-primary"
                href="?view=admin&action=restore&name={{ archive['filename'] }}">
                <i class="icon-circle-arrow-up icon-white"></i>
                <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
              </a>
              <a class="delete btn btn-group-sm btn-danger "
                  onclick="return(confirm('Êtes-vous sûr de vouloir supprimer l\'archive : {{ archive['filename'] }} ?'));"
                  href="?view=admin&action=deleteArchive&name={{ archive['filename'] }}">
                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
              </a>
            </div>
          </td>
        </tr>
        {% endfor %}
        <!--fin liste des archives-->
      </tbody>
    </table>
  </div>

  {% include 'twig/footer.twig' %}


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="themes/default/js/jquery.min.js"><\/script>')</script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <script src="themes/default/js/jquery.tablesorter.min.js"></script>
  <script type="text/JavaScript">
    $(document).ready(function() {
      $("#listeWikis").tablesorter(
        {
          sortList: [[0,0]],
          headers: {
            5: { sorter: false }
          }
        }
      );
      $("#listeArchives").tablesorter(
        {
          sortList: [[0,0]],
          headers: {
            3: { sorter: false }
          }
        }
      );
    });
  </script>
</body>
</html>
