<div class="table-responsive">
  <table id="listeWikis"
    class="wiki-list table table-hover tablesorter">
      <thead>
        <tr>
          <th>Nom</th>
          <th data-sorter="false">Description</th>
          <th>Date de création</th>
        </tr>
      </thead>
    <tbody>
      {% for wiki in list_wikis %}
      <tr class="clickable" onclick='document.location.href="{{ wiki['url'] }}"'>
        <td><a href="{{ wiki['url'] }}"><strong>{{ wiki['name'] }}</strong></a></td>
        <td>{{ wiki['description'] }}</td>
        <td>
          {{ wiki['date']|date("Y-m-d H:i", timezone="Europe/Paris") }}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
