<!DOCTYPE html>
<html lang="fr">

<head>
  <title>Ferme de Wiki</title>

  <meta charset="utf-8">
  <meta name="description" content="Ferme de Wikis">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link
    rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
    crossorigin="anonymous"
  >
  {% for css in list_css %}
  <link href="{{ css }}" rel="stylesheet" />
  {% endfor %}
</head>

<body>
  {% include 'twig/navbar.twig' %}

  {% include 'twig/alerts.twig' %}

  <div class="container">
    <div class="row vcenter">
      <div class="col-md-6 jumbotron">
        <h1>Nouveau wiki</h1><br />

        <!-- Attention il ne faut pas changer class et id du formulaire
        sinon hashcash ne fonctionne plus.-->
        <form id="newWiki" class="newForm form-horizontal" action="?action=addWiki" method="post">

          <div class="form-group">
            <label class="col-sm-5 control-label" for="wikiName">Nom du wiki</label>
            <div class="col-sm-7">
              <input  type="text" name="wikiName" placeholder="10 caractères max" required="required"  maxlength="10" {% if mail %}value="{{ wiki_name }}"{% endif %} />
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-5 control-label" for="mail">Votre adresse email</label>
            <div class="col-sm-7">
              <input  type="email" name="mail" placeholder="Votre adresse mail" required="required" {% if mail %}value="{{ mail }}"{% endif %} />
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-5 control-label" for="description">Description du Wiki</label>
            <div class="col-sm-7">
              <textarea name="description" placeholder="Une courte description de votre projet (140 caractères max)." maxlength="140" >{{ description }}</textarea>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-5 control-label" for="theme">Thème</label>
            <div class="col-sm-7">
              <select id="theme" name="theme" onChange="changeThumb()">
                  {% for theme in list_themes %}
                    <option thumb="{{ theme['thumb'] }}" >{{ theme['name'] }}</option>
                  {% endfor %}
              </select>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-offset-5 col-sm-7">
              <!--Protection HashCash -->
              <script type="text/javascript" src="{{ hashcash_url }}"></script>
              <script type="text/javascript">
                document.write('<button type="submit" name="action" class="btn btn-primary btn-lg" id="submit"/>Semer !</button>');
              </script>
              <noscript>Formulaire protégé via JavaScript, <br />Merci de l'activer.</noscript>
            </div>
          </div>
        </form>
      </div>

      <div id="thumbdiv" class="col-md-6">
        <img id="thumb" class="img-responsive" src="" />
      </div>
    </div>
  </div>

  <div id="searchWiki" class="container-fluid">
    <form id="searchWikiForm" class="form-horizontal"
      <div class="form-group form-search">
        <label class="col-sm-6 control-label x2" for="filter">Trouver mon Wiki : </label>
        <div class="col-sm-6">
          <input class="x2" id="filter" type="text" name="filter" />
        </div>
      </div>
    </form>
  </div>


  <div id="liste" class="container">
    <h2 class="title">Liste des Wikis</h2>
    {% include 'AjaxListWikis.twig' %}
  </div>

  <footer>

  </footer>


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="themes/default/js/jquery.min.js"><\/script>')</script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <script src="themes/default/js/jquery.tablesorter.min.js"></script>
  <script type="text/JavaScript">
    function changeThumb(){
      var thumb = document
            .getElementById('theme')
            .options[document
            .getElementById('theme')
            .selectedIndex]
            .getAttribute('thumb');
      document.getElementById('thumb').src = thumb;
    }

    function lookup(inputString) {
      $.get("", {
        view: "ajax",
        query: "search",
        string: ""+$("#filter").val()+""
      }, function(data){ // on envoit la valeur du champ texte dans la variable post queryString au fichier ajax.php
        if(data.length >0) {
          $('#listeWikis').replaceWith(data);
          initTableSorter();
        }
      });
      initTableSorter();
    }

    function initTableSorter() {
      $("#listeWikis").tablesorter(

        {theme : 'blue', sortList: [[0,0]]}
      );
    }

    $(document).ready(function() {
      changeThumb();
      initTableSorter();
      $("#filter").keyup( function() {
        lookup($(this).val())
      });
    });
  </script>

</body>
</html>
